/*общие свойства*/

ul {
    list-style-type: none;
}

* {
    letter-spacing: 0em;
}

/* шрифты повторяемые свойства*/
.header-icon,
.hero-title,
.bio-head,
.sp-title {
    font-family: Playfair Display;
    font-size: 86px;
}

.header-list,
.hero-sub-title,
.bio-text,
.text-strong,
.text,
.foot,
.foot-mod,
.foot-copy,
h2,
address {
    font-family: Roboto;
}

.bio-bq,
.bq-testi,
.sp-list {
    font-family: Bitter;
}

.text-strong,
h2 {
    font-weight: 700;
}

.header-list,
.hero-title,
.hero-sub-title,
.bio-head,
.bio-text,
.sp-title,
.foot {
    font-weight: 500;
}

.bio-bq,
.text,
.bq-testi,
.sp-list,
.foot-copy,
address {
    font-weight: 400;
}

.hero-title,
.hero-sub-title,
.bq-testi,
.foot {
    text-align: center;
}

.header-icon,
.sp-title,
.sp-list,
address {
    text-align: left;
}

.foot-copy,
.h2-bio
.h2-tes {
    text-align: right;
}

.text-strong,
.text,
.foot-copy,
address {
    font-size: 16px;
}

.header-list,
.foot-mod,
h2 {
    font-size: 24px;
}

.bio-text,
.foot {
    font-size: 18px;
}

.header-icon,
.hero-title {
    line-height: 103px;
}

.bio-bq,
address {
    line-height: 26px;
}

h2,
.foot-mod {
    line-height: 28.13px;
}

.text-strong,
.text {
    line-height: 18.75px;
}

/*---------Свойства разделов-------*/
/*хедер*/
.header-icon {
    font-weight: 600;
}

/*hero секция*/

.hero-sub-title {
    font-size: 20px;
    line-height: 23px;
}


/*Биография*/
.bio-head {
    line-height: 115px;
}

.bio-text {
    line-height: 21px;
}

.bio-bq {
    line-height: 31px;
}


/*раздел Testimonials*/
.bq-testi {
    font-size: 32px;
    line-height: 38px;
}

/*раздел Strong points*/
.sp-list {
    font-size: 34px;
    line-height: 41px;
}

/*раздел footer*/
.foot {
    line-height: 21.9px;
}

.foot-mod {
    font-weight: 900;
}

.foot-copy {
    line-height: 19px;
}
